option_settings:
    aws:autoscaling:launchconfiguration:
        SecurityGroups: "sg-08464b2b8093c1fde"
    aws:ec2:vpc:
        VPCId: "vpc-ea2b328c"
        Subnets: "subnet-6f90d427,subnet-71f2d617,subnet-f9f6e8a2"
# These options can be used to specify a port other than 80, however the docker host mapping defaults to port 80 (which is perfectly great) so this is just for reference
#    aws:elb:listener:
#        InstancePort: 8080
#    aws:elasticbeanstalk:application:
#        Application Healthcheck URL: "TCP:8080"